[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
python-dotenv = "*"
requests = "*"
pytz = "*"
webexteamssdk = "*"
backoff = "*"
webexteamsbot = "*"
gunicorn = "*"
redis = "*"
PyYAML = "*"
Flask = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"
