async-timeout==4.0.2; python_version >= "3.6"
backoff==1.11.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
certifi==2021.10.8; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.6.0"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.9" and python_version < "4.0"
click==8.1.0; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0"
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
flask==2.1.0; python_version >= "3.7"
future==0.18.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
gunicorn==20.1.0; python_version >= "3.5"
idna==3.3; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version >= "3.9" and python_version < "4.0"
importlib-metadata==4.11.3; python_version < "3.10" and python_version >= "3.7"
itsdangerous==2.1.2; python_version >= "3.7"
jinja2==3.1.1; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
packaging==21.3; python_version >= "3.6"
pydantic==1.9.0; python_full_version >= "3.6.1"
pyjwt==2.3.0; python_version >= "3.6"
pyparsing==3.0.7; python_version >= "3.6"
python-dotenv==0.20.0; python_version >= "3.5"
pytz==2022.1
pyyaml==6.0; python_version >= "3.6"
redis==4.2.0; python_version >= "3.6"
requests-toolbelt==0.9.1; python_version >= "3.9" and python_version < "4.0"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
typing-extensions==4.1.1; python_version >= "3.9" and python_full_version >= "3.6.1" and python_version < "4.0"
urllib3==1.26.9; python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.9"
webexteamsbot==0.1.4.2
webexteamssdk==1.6
werkzeug==2.1.0; python_version >= "3.7"
wrapt==1.14.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
wxc-sdk==0.5.1; python_version >= "3.9" and python_version < "4.0"
zipp==3.7.0; python_version < "3.10" and python_version >= "3.7"
